{% extends 'core/base.html' %} {% block title %} Items {% endblock %} 
{% block content %}
<div class="pb-6 grid grid-cols-1 lg:grid-cols-4 gap-4 bg-gray-800 text-white">
  <div class="lg:col-span-1 p-6">
    <form action="{% url 'item:items' %}" method="get">
      <input
        name="query"
        class="w-full py-4 px-6 border rounded-xl bg-gray-900 text-white"
        type="text"
        value="{{ query }}"
        placeholder="Find a bike, a chair, or a car..."
      />
      <button
        class="mt-2 py-4 px-8 text-lg bg-green-500 text-white rounded-xl hover:bg-green-700"
      >
        Search
      </button>
    </form>

    <hr class="my-6 border-gray-700" />
    <p class="font-semibold text-gray-400">Areas</p>
    <ul>
      {% for area in  areas %}
      <li
        class="py-2 px-2 rounded-xl hover:bg-gray-500{% if area.id == area_id %} bg-gray-700 {% endif %}"
      >
        <a
          href="{% url 'item:items' %}?query={{query}}&area={{area.id}}"
          class="text-white"
          >{{area.name}}</a
        >
      </li>
      {% endfor %}
    </ul>
    <hr class="my-6 border-gray-700" />
    <p class="font-semibold text-gray-400">Clear filters</p>

    <ul>
      <li>
        <a
          href="{% url 'item:items' %}"
          class="mt-2 py-4 px-6 inline-block bg-yellow-500 text-lg rounded-xl text-white hover:bg-yellow-700"
          >Clear</a
        >
      </li>
    </ul>
  </div>
  <div class="lg:col-span-3">
    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8"
    >
      {% for item in items %}
      <a href="{% url 'item:detail' item.id %}" class="group">
        <div
          class="overflow-hidden aspect-w-3 aspect-h-4 bg-gray-700 rounded-lg shadow-md group-hover:shadow-xl"
        >
          <img
            src="{{ item.image.url }}"
            class="object-cover w-full h-full"
            alt="{{ item.name }}"
          />
        </div>
        <div class="mt-4 p-6 bg-gray-900 rounded-b-xl">
          <h2
            class="text-xl font-semibold text-white-400 hover:text-gray-400"
          >
            {{ item.name }}
          </h2>
          <p class="text-gray-400">Price: {{ item.price }}</p>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
